
<li>
	{{this.burger_name}}
        {{#if this.devoured}}
	        <button class="devouredBecomesFalse"  data-newDevoured="{{devoured}}" data-id="{{id}}">
                CONSUME AGAIN?
            </button>
        {{else}}
            <button class="devouredBecomesTrue"  data-newDevoured="{{devoured}}" data-id="{{id}}">
                CONSUME
            </button>
        {{/if}}
	</button>
</li>